{% include 'myjobs/header.html' %}
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <!-- Job Search Bar -->
    <form class="mb-4 w-50 mx-auto" method="GET" action="{% url 'jobs' %}">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search for jobs..." aria-label="Search for jobs" value="{{search}}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
    <!-- End of Job Search Bar -->
    <h1 class="text-center mb-4">Job Listings</h1>
    {% for job in jobs %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">{{ job.job.title }}</h2>
            <p><strong>Ranking Point:</strong> {{ job.ranking_point }}</p>
        </div>
        <div class="card-body d-flex justify-content-between align-items-start">
            <div>
                <p><strong>Company:</strong> {{ job.company_name }}</p>
                <p><strong>Location:</strong> {{ job.job.location }}</p>
                <p><strong>Job Type:</strong> {{ job.job.job_type }}</p>
                <p><strong>Salary:</strong> {{ job.job.salary }}</p>
                <p><strong>Description:</strong></p>
                <p>{{ job.job.description }}</p>
            </div>
            {% if job.company_logo %}
                <img src="data:image/png;base64,{{ job.encoded_image }}" alt="{{ job.company_name }} Logo" style="max-width: 150px; max-height: 150px;">
            {% else %}
                <p>No logo available</p>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <a href="/jobs/{{ job.job.id }}/apply" class="btn btn-primary">Apply Now</a>
        </div>
    </div>
    {% endfor %}
    
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if jobs.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ jobs.previous_page_number }}{% if search %}&search={{ search }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in jobs.paginator.page_range %}
                <li class="page-item {% if jobs.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}{% if search %}&search={{ search }}{% endif %}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if jobs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ jobs.next_page_number }}{% if search %}&search={{ search }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <!-- End of Pagination -->
</div>
{% include 'myjobs/footer.html' %}
