{% include 'myjobs/header.html' %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 56px - 40px);">
    <form method="POST" action="{% url 'register' %}" style="max-width: 400px; width: 100%;">
        {% csrf_token %}
        <h2 class="text-center mb-4">Register</h2>
        <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>
</div>
{% include 'myjobs/footer.html' %}
